#drum-machine {
  margin-top: 20vh;
}

#drum-pads {
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
}

.drum-pad {
  height: auto;
  margin: 0.5em;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
}

.drum-pad p {
  font-size: 1.5rem;
  font-weight: 700;
}

#display {
  background: #f8f9f8;
  width: 90%;
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
  border-radius: 20px;
}

#display p {
  padding: 2em;
  font-weight: 500;
  font-size: 1.25rem;
}

@media (max-width: 540px) {
  #drum-machine {
    margin-top: 5vh;
  }
}