/* #drum-pads {
  max-width: 40%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  margin: 0 auto;
  align-self: auto;
  display: inline-grid;
} */

#drum-machine {
  display: inline-grid;
  grid-template-columns: 80 80 80;
}

.drum-pad {
  max-width: 80px;
  height: auto;
  margin: 1em;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
}

.drum-pad p {
  font-size: 1.5rem;
  font-weight: 700;
}

/* #display {
  margin: 0 auto;
  height: 30px;
  width: 200px;
  padding: 10px;
  background: #FDC8C8;
  text-align: center;
}

.drum-pad {
  width: 240px;
  text-align: center;
  border: 1px solid black;
  padding: 1rem 1.5rem;
}

#W {
  grid-column-start: 2;
  grid-column-end: 3;
}

#E {
  grid-column-start: 3;
  grid-column-end: 4;
}

.drum-pad:hover {
  cursor: pointer;
} */