/* #drum-pads {
  max-width: 40%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  margin: 0 auto;
  align-self: auto;
  display: inline-grid;
} */

.drum-machine {
  display: grid;
}

.drum-pad {
  padding: 5em 10em;
  border: 2px solid black;
}

/* #display {
  margin: 0 auto;
  height: 30px;
  width: 200px;
  padding: 10px;
  background: #FDC8C8;
  text-align: center;
}

.drum-pad {
  width: 240px;
  text-align: center;
  border: 1px solid black;
  padding: 1rem 1.5rem;
}

#W {
  grid-column-start: 2;
  grid-column-end: 3;
}

#E {
  grid-column-start: 3;
  grid-column-end: 4;
}

.drum-pad:hover {
  cursor: pointer;
} */